Source: debian-opi5plus-halhadus-config
Section: admin
Priority: optional
Maintainer: Halhadus <eneshakans45@proton.me>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: debian-opi5plus-halhadus-config
Architecture: arm64
Depends: ${misc:Depends}, 
    device-tree-compiler,
    zstd, xz-utils, 
    clinfo, vulkan-tools, mesa-vulkan-drivers, glmark2-es2-drm, vkmark, glmark2-es2-wayland,
    lm-sensors, fastfetch, git, smartmontools, usbutils, pciutils,
    binutils, build-essential, meson, libtool, pkgconf, cmake, autoconf, automake,
    file,
    mpv,
    rockchip-multimedia-config,
    v4l-utils, qv4l2, qvidcap, ir-keytable, dvb-tools, libdvbv5-0t64, libdvbv5-dev,
    ffmpeg,
    wayfire, wayfire-dev, waybar, wcm, wf-shell, wf-recorder, wev,
    wlrctl, wlogout, wofi, swaylock, slurp, grim, swappy,
    mako-notifier, cliphist, xwayland, xdg-desktop-portal-wlr, xdg-desktop-portal-gtk,
    pipewire, pipewire-alsa, pipewire-audio, pipewire-pulse, pipewire-v4l2,
    wireplumber, libpipewire-0.3-common, libpipewire-0.3-modules,
    libspa-0.2-bluetooth, libspa-0.2-modules, pulseaudio-utils,
    pavucontrol-qt, pamixer, playerctl, rtkit,
    adwaita-icon-theme, papirus-icon-theme, lxappearance, nwg-look,
    qt5ct, qt6ct, qt6-wayland, libadwaita-1-0, libadwaita-1-dev,
    fonts-jetbrains-mono, fonts-jetbrains-mono-web, fonts-noto-color-emoji,
    btop, nvtop, inxi, kitty, thunar, thunar-archive-plugin,
    file-roller, unzip, brightnessctl, light,
    stress-ng, command-not-found, gvfs, gvfs-backends, gvfs-common,
    blueman, bluetooth, bluez, networkd-dispatcher, rfkill,
    arp-scan, iperf3, traceroute, ncat,
    rustup, python3-pip, python3-requests, default-jdk,
    nlohmann-json3-dev, libgtk-4-dev, libx11-dev, libxtst-dev, libwf-config1,
    firefox, obs-studio, obs-plugins, obs-pipewire-audio-capture,
    mangohud, goverlay, gamemode, chromium, chromium-sandbox,
    arch-install-scripts, seatd, wl-clipboard, mesa-utils, evtest,
    bridge-utils, iptables-persistent, nvme-cli, xfce4-settings, xdg-utils, polkit-kde-agent-1,
    dbus-x11, trace-cmd, libpolkit-agent-1-0, aria2, fio, 
    strace, gdb, dmidecode, jq, alsa-utils, edid-decode, fake-hwclock,
    systemd-zram-generator, bash-completion, wget, drm-info, chromium,
    wlr-randr, network-manager-applet, tigervnc-viewer, gpiod, python3-libgpiod,
    wayvnc, libssl-dev
Description: Orange Pi 5 Plus Halhadus Configuration Package
